node_modules/
.next/
out/
.env
.env.local
*.tsbuildinfo
next-env.d.ts
prisma/dev.db
prisma/dev.db-journal
PRODUCTION_CREDENTIALS.md
prisma/production-passwords.ts
public/uploads/*
!public/uploads/.gitkeep
